.cabeca{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
} 

.itn-menu{
    display: inline-block;
    margin: 20px; 
} 

a{
    text-decoration: none;
}

.pg-1{
    display: flex;
    flex-direction: row;
    margin-top: 50px; 
    justify-content: center;
} 

.text-intro{
    margin-right: 20px; 
    width: 45%;
} 

.img-intro{
    margin-left: 20px; 
    width: 45%;
}

.txt-1{
    font-size: 30px;
    line-height: 10px; 
    text-align: center;
    
} 

.banner{
    width: 100%;
}

.botao .submit_btn{
    display: flex;
    justify-content: right;
    font-size: 50px;
    margin-left: 600px;
    font-size: 30px;
    border-radius: 20px;
    padding: 15px 80px;
    background-color: #faed27;

}
.botao .submit_btn span{
    font-size: 20px;
}
#cad-txt{
   width: 350px;
}

.cadastro2{
    display: flex;
    margin-left:100px ;
    justify-content: right;
    font-size: 30px;
    padding: 10px;
    
}

.cadastro{
    display: flex;
    align-items: center;
    width: 2000px;
    height: 900px;
    background-image: url(./Imagem\ Tela\ Cadastro\ Sec..png); 
    
}

.nós{
    display: flex;
    justify-self: right;
    flex-direction: column;
    justify-content: right;
   
}

.img-sobre{
    height: 200px;
    width: 400px;

}

#sobre{
    display: flex;
    justify-content: space-between;
}