.conhecer-grid{
    display: flex;
    justify-content: space-between;
    
}

#conhecer{
    border: 1px solid green;
}

.conhecer-cards{
    display: flex;
    flex-direction: column;
    margin: 50px;
    border: 1px solid green;
}

#conhecer h1{
    display: flex;
    justify-content: center;
}

.img-conhecer{
    width: 200px;
    height: 200px;
}