.conhecer-grid{
    display: flex;
    justify-content: space-between;
    
}

.conhecer-grid h2{
    display: flex;
    justify-content: center;
}

#conhecer{
    border: 1px solid green;
}

.conhecer-cards{
    display: flex;
    flex-direction: column;
    margin: 50px;
    border: 1px solid green;
}

#conhecer h1{
    display: flex;
    justify-content: center;
}

.img-conhecer{
    width: 200px;
    height: 200px;
}

.botão{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botão input{
    height: 50px;
    display: flex;
    justify-content: center;
    width: 400px;
    
}

.cadastro{
    display: flex;
    align-items: center;
}

