/*Começo avaliações*/
#avl{
   
    display: flex;
    justify-content: center;
}

/*Título H1.*/
.titulo{
   text-align: center;

}
/*Título H1*/ 

/*Avaliação Geral do Usuário*/
.avl-geral{
    flex-direction: row;
    justify-content: center;
    display: flex;
}

/*Avaliação individual do Usuário*/
.avaliações{
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 16px;
    margin: 1%;
    
    
} 

/*Campo Avaliações*/
.av{
    border: 1px solid #ccc;
    padding: 30px 30px;
    border-radius: 16px;
}

/*Foto de Perfil do Usuário*/
.usuário{
    width: 20px;
    height: 20px;

} 


.avaliações .nome{
    display: flex;
    align-items: flex-start;
}

/*Nome do Usuário*/
h3{
    margin: 0;
    margin-bottom: 16px;
}
/*Fim avaliações*/

/*Início cabeçalho*/
.cabeca{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
} 

.itn-menu{
    display: inline-block;
    margin: 20px; 
} 

a{
    text-decoration: none;
}


.conhecer-grid h2{
    display: flex;
    justify-content: center;
}

#conhecer{
    border: 1px solid green;
}

.conhecer-cards{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin: 50px;
    border: 1px solid green;
}

.conhecer-grid{
    display: flex;
    justify-content: space-between;
}

.img-conhecer{
    width: 200px;
    height: 200px;
}

#conhecer h1{
    display: flex;
    justify-content: center;
} 

/*Início página "Main"*/
.pg-1{
    display: flex;
    flex-direction: row;
    margin-top: 50px; 
    justify-content: flex-start;
    align-items: center; 
    background-image: url(./wireframe.png);
    height: 700px; 
    padding-left: 200px;
} 

.text-intro{
    margin-right: 20px; 
    width: 45%;
    width: 45%; 
} 

.img-intro{
    margin-left: 20px; 
    width: 45%;
}

.txt-1{
    font-size: 30px;
    font-size: 50px;
    line-height: 10px; 
} 
/*Fim página "Main"*/

/*Início Cadastro Secundário*/

.banner{
    width: 100%;
    width: 100%; 

}

.botão{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botão input{
    height: 50px;
    display: flex;
    justify-content: center;
    width: 400px;
    
}

.cadastro{
    display: flex;
    justify-content: space-between;
    background-image: url(./wireframe.png); 
    padding: 0 100px;
} 
/*Fim Cadastro Secundário*/

/*Começo do Rodapé*/
.rodape{
    left: 0;
    bottom: 0;
  
    color: black;
    text-align: center;
    padding-left: 40px;
    border: 1px solid #ccc;
    padding: 5px 5px;
    display: flex; 
    justify-content: space-around;
    border: 1px solid #ccc;
    
}
    
footer a img{
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

footer address{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.rodape-1{
    border: 1px solid #ccc;
    padding: 10px 10px;
   

}

.rodape-2{
    border: 1px solid #ccc;
    padding: 5px 5px;
    

}

.rodape-3{
    border: 1px solid #ccc;
    padding: 30px 30px;
}

.rodape-5{
    border: 1px solid #ccc;
    padding: 30px 30px;

}

.rodape{
    left: 0;
    bottom: 0;
  
    color: black;
    text-align: center;
    padding-left: 40px;
    border: 1px solid #ccc;
    padding: 5px 5px;
    display: flex; 
    justify-content: space-around;
    border: 1px solid #ccc;
    
}
    
footer a img{
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

footer address{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.rodape-1{
    border: 1px solid #ccc;
    padding: 10px 10px;
   

}

.rodape-2{
    border: 1px solid #ccc;
    padding: 5px 5px;
    

}

.rodape-3{
    border: 1px solid #ccc;
    padding: 30px 30px;
}

.rodape-5{
    border: 1px solid #ccc;
    padding: 30px 30px;
} 
/*Fim do Rodapé*/

/*Inicio CSS da abba suporte*/

/*Inicio divs*/ 

.sup-total{
    background-image: url(./wireframe.png);
}



.reclamaçoes{
    width: 400px;
    height: 400px;
    border: 2px solid black; 
    margin-bottom: 30px;
    margin-left: 200px;
    justify-content: flex-start;
}

.Suporte{
    display: flex;
    justify-content:flex-start;
    
 }
/*fim divs*/

/*inicio botões*/
.btn-todos{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 3px solid black;
}
.e-mail{
    width: 350px ;
    height:50px ;
}
.mensagem{
    width:350px ;
    height:200px ;
}
.botão-spt{
    width:150px ;
    height:40px ;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
}
/*fim botões*/

/*inicio imagem*/
#img-suporte{
    height: 400px;
    width: 400px;
}
/*fim imagem*/

#sobre{
    background-image: url(wireframe.png);
}

#sobre h1{
    font-weight: 20pt;
}